<div class="blue-sun-logo">
    <img src="~/Content/Images/Blue-Sun-Mild.png" />
</div>
<p>
    The Blue Sun logo is everywhere: on T-shirts, billboards, posters, food cans, etc. The logo has become so much a part of daily life that people don't even notice it anymore. Blue Sun products are considered essential to a person - like water and breathing. Just look for the Blue Sun label. It's never difficult to find. The company doesn't operate retail outlets, but every shop stocks its products. While not the best on the market, Blue Sun products are the most reliable. If you buy Blue Sun, you always know what you're going to get. There are never any surprises - good, bad, or otherwise.
</p>